    /* For mobile phones: */

@media only screen and (max-width: 768px) {

    #navbarNavDropdown {
        padding-right:0;
        text-align:right;
        margin-right:15px;
    }

    .navbar-dark .navbar-toggler {
        margin-right:15px;
    }

    .eyebrow .menu-logo .navbar-brand {
        margin-left:25px;
    }

    .eyebrow-links ul {
        margin:0;
        padding:0;
        
    }

    .eyebrow-links {
        padding-right:0;
        padding-bottom:10px;
        /* display:flex;
        justify-content:center; */
    }

    .main-menu .nav-item {
        padding: 0;
    }

    .sidenav {
        display:none;
    }

    .sidebar {
        display:none;
    }

    .newsletter {
        display:none;
    }


    .mySlides1 h3, .mySlides2 h3, .mySlides3 h3 {
        padding-top:5%;
        font-size:1.5rem;
    }

    .mySlides1 p, mySlides2 p, .mySlides3 p {
        font-size: 0.9rem;
    }

    .mySlides1 img, .mySlides2 img, .mySlides3 img{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    hr {
        margin:0.5rem;
    }

    .w3-badge {
        display:none;
    }

    .w3-display-bottommiddle {
        bottom:auto;
    }

    .ui-tabs .ui-tabs-nav li {
        width:105px;

    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        width:0;
        padding: .5rem;
        
    }

    .tab-widget h1 {
        font-size:2rem;
    }

    .ui-tabs .ui-tabs-nav {
        border-radius:0;
    }

    .archives-mobile {
        display:block;
        margin-top: 3%;
    }

    .newsletter-mobile {
        display:block;
        padding: 3% 5% 10% 5%;
    }

 

}

/* ipad */ 
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-menu .nav-item {
        padding: 0 20px;
    }

        .sidenav {
            display: none;
        }

        .sidebar {
            display: none;
        }

        .newsletter {
            display:none;
        }

        .archives-mobile {
            display: block;
        }

        .archives-mobile h3 {
            font-size:1.5rem;
            padding-top:5%;
            padding-bottom:2%;


        }

        .newsletter-mobile {
            display:block;
            padding: 3% 10% 10% 10%;
        }

    }


/* ipad pro */

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .sidenav {
        display:visible;
    }




}

@media only screen and (min-width: 1450px) {

    .w3-display-bottommiddle {
        position: absolute;
        left:50%;
        bottom:0;
        transform: translate(-50%,0%);
    }

    .email-signup {
        margin-left: 8%;
        margin-right: 8%;
    }

    .newsletter h3 {
        letter-spacing: 8.5px;
    }

}