/* GENERAL USE */ 
.text-white {
    color:white !important;
}

.text-center {
    text-align:center;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

.btn-primary:hover {
    background-color: #D2EEFF !important;
    color: #181818;

}

ul {
    list-style:none;
}

.display-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.25rem;
    font-weight:500;

}

.display-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.25rem;
    font-weight: 600;
}

.display-25 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
}

.display-3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.display-4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    font-size: 1rem;
}

.display-4-thin {
    font-family: 'Raleway', sans-serif;
    font-weight:300;

}

.display-5 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.6rem;
    font-weight:600;
}


/* NAVBAR STYLES */

.navbar {
    height: 65px;
}

.eyebrow .navbar {
    padding: .5rem 0;
    /* background: rgba(0,0,0,0.2); */
}


.main-menu .navbar,
    {
    padding: .5rem 0;
    background: rgba(0, 0, 0, 0.5);
}

.eyebrow .menu-logo {
    margin-right:auto;
}

.eyebrow .menu-logo .navbar-brand {
    display:flex;
    margin-left: 5rem;
    padding: 0;
    transition: padding .2s;
    min-height: 3.8rem;
    align-items:center;
}


.eyebrow .menu-logo .navbar-brand .navbar-logo {
    font-size: 4rem;
    transition: font size 0.25s;
}

.eyebrow-links {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 5rem;
    width:auto;
}

.eyebrow-links ul {
    display:inline-flex;
    margin-top: 1rem;
    margin-left:5%;
}

.eyebrow .nav-item a {
    display:block;
    align-items:center;
    justify-content:center;
    padding: 0.7rem 0 !important;
    margin: 0rem .65rem !important;
}

.main-menu {
    background-color: rgba(0,0,0,0.7);
}
.main-menu .nav-item {
    padding: 0px 50px;
}

/* BANNER IMAGE STYLES */
.banner-image {
    background-image: url("images/dominik-martin-100802-unsplash-2-2000x1335.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.banner-image .display-1 {
    line-height:5.2;
    padding-top:3%;
}


/* SIDEBAR STYLES */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}

/* .sidebar {
    background-color:black;
} */

.archives h3 {
    letter-spacing:11.5px;
    padding-top: 17%;
    
}

.archives hr, {
    border-top: 1px solid white;
    width: 80%;
}

.archives h4 {
    letter-spacing: 5.5px;
    padding-top:3%;
}

.archives h6 {
    letter-spacing: 3px;
    font-size:0.9rem;
}


.year:after {
    content:"";
    display: inline-block;
    border: 6px solid transparent;
    border-top: 5px solid white;
    border-bottom: 0 none;
    margin-bottom: 2px;
}

.year, .posts18, .posts17, .posts16 {
    cursor: pointer;
}

.posts {
    padding: 3% 0 1% 0;
}

/* Archives - Mobile */
.archives-mobile {
    background-color:black;
    display:none;
    padding-bottom: 5%;
}

.archives-mobile h3 {
   padding-top:8%;
   padding-bottom: 3%;
   letter-spacing:5px;
   font-size:1.25rem;
}

/* EMAIL SIGN UP */
.newsletter {
    display:flex;
    align-items:center; 
}

.newsletter h3 {
    letter-spacing:6.5px;
    padding-top:3%
}

.newsletter p {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    letter-spacing:1.5px;
    border:1px solid white;
    padding: 5%;
    font-size: 0.9rem;
}

.newsletter img {
    width:100%;
    padding: 3% 5% 8% 5%;
}

.email-signup {
    margin-left:5%;
    margin-right:5%;
}


.spacer-top {
    border-top: 5px solid white;
    height:8opx;
}

.spacer-bottom {
    height:80px;
}




form {
    padding-top:3%;
}
.form-field {
    width:90%;
    text-align: center;
    opacity:0.95;
    padding:2px;
    border-radius: 4px;
}

.submit-btn {
    background-color:#d6ebf8;
    width:100%;
    width:90%;
    margin-top:5%;
    border-radius: 4px;
    border:none;
    color:#181818;

}


/* MAIN ARTICLES SECTION */ 

.main-page {
    margin-top:-8px;
}

.articles h1 {
    padding-top: 3%;
}

.article-cards {
    padding:0 5% 6% 5%;
    background-color: rgba(248, 251, 255, 0.75);
}

.card-padding {
    padding-top:5%;
}

.evolve-btn {
    border-radius:100px;
    background-color:black;
    border-color:black;
    color:white;
    padding: 4% 25%;
}

/* HOVER OVERLAY */

.container-test {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.container-test:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/* TABBED WIDGET */

.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #eee;
    border: solid 1px #999;
    border-bottom: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
}

.tab a:hover {
    text-decoration: underline;
}

.tab.active {
    background: #fff;
    padding-top: 6px;
    position: relative;
    top: 1px;
    border-color: #666;
}

.tab a.active {
    font-weight: bold;
}

.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
}



/* TABBED WIDGET */

.tab-widget {
    padding: 5%;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#icons {
    margin: 0;
    padding: 0;
}

#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

select {
    width: 200px;
}

.tab-widget h1 {
    letter-spacing: 2px;
    padding-top: 5%;
    color:white;
    background-color: black;
    margin-bottom: 0;
}

/* Carousel Styles */
.mySlides1, .mySlides2, .mySlides3 {
    display:none
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
.w3-badge {
    height:13px;
    width:13px;
    padding:0;
    border-radius: 50%;
}

.mySlides1 h3, .mySlides2 h3, .mySlides3 h3 {
    font-size: 2rem;

}

.mySlides1 hr, .mySlides2 hr, .mySlides3 hr {
    border-top: 1.5px solid rgba(0,0,0,.1);
    width:95%;
}

.mySlides1 p, .mySlides2 p, .mySlides3 p {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:1rem;
    line-height:2;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

.mySlides1 img, .mySlides2 img, .mySlides3 img {
    width:100%;
}

.mySlides1 .evolve-btn, .mySlides2 .evolve-btn, .mySlides3 .evolve-btn {
    padding:1% 8%;
    color:white;
}

.mySlides1 .evolve-btn:hover, .mySlides2 .evolve-btn:hover, .mySlides3 .evolve-btn:hover {
    color:#181818;
}

/* w3 school styles */

.w3-badge, .w3-tag {
    color: #fff;
    display:inline-block;
    text-align:center;
}
.w3-section, .w3-code {
    margin-top:16px !important;
    margin-bottom: 16px !important;
}


.w3-large {
    font-size:18px !important;
}

.w3-container, .w3-panel {
    padding: 0.01em, 16px;
}



.w3-tooltip, .w3-display-container {
    position: relative;
    margin:3%;
}

.w3-left {
    float: left !important;
}

.w3-right {
    float: right !important;
}

.w3-transparent, .w3-hover-none:hover {
    background-color:transparant !important;
}

.w3-border {
    border:1px solid grey !important;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear:both;
}


